.outer {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
}
.inner {
  margin: 10px 10px 10px 10px;
  width: 180px;
  height: 180px;
  background-color: #ffa511;
  border: 2px solid black;
  border-radius: 50%;
}
.eye {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  display: inline-block;
  position: relative;
  top: 40px;
  left: 40px;
  margin-right: 50px;
  border-radius: 50%;
  background: #000;
}
.mouth {
  height: 30px;
  width: 70px;
  border: 2px solid red;
  position: relative;
  border: 2px solid black;
  top: 90px;
  left: 50px;
  background-color: red;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
