p {
  color: red;
  text-align: center;
}
h1,
h3,
h4 {
  text-align: center;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}
a {
  color: rgb(9, 237, 120);
  text-decoration: none;
}
button {
  background-color: white;
  color: blueviolet;
}
textarea {
  color: black;
}
