#mainTopic {
  color: blue;
}

* {
  text-align: center;
}

h1,
h3,
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content {
  color: white;
  background-color: cornflowerblue;
}

div button {
  background-color: purple;
  color: azure;
}

button:hover {
  background-color: yellow;
  color: blue;
}

h1:first-letter {
  color: red;
}

#yes:checked + label {
  color: darkgreen;
}

/* 

#mainContent
div.main 
main
h1
*/
